<ion-header>
  <ion-navbar color="bleu">
    <ion-title text-center >
      Mon app météo
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>  


<div class="row" *ngIf="meteoApi.city_info">
	<div class="col"></div>
	<div class="col" text-center> <h1> {{meteoApi.city_info.name}} </h1> </div>
	<div class="col"></div>

</div>


	
  	<ion-card *ngFor="let meteo  of meteoApi.forecastMeteo">
	   

	  <ion-card-content>
	    <ion-card-title> <img src={{meteo.icon}} style="height:100px; width:100px">      </ion-card-title>
	    <div class="row">
	    	<div class="col">      {{meteo.condition}}</div>
	    	<div class="col" text-right> <p>La température min est : {{meteo.tmin}}</p>
	    <p>La température max est : {{meteo.tmax}}</p></div>
	    </div>

	  </ion-card-content>
	</ion-card>
 
</ion-content>


<ion-footer>


	<ion-toolbar>
		<div class="row">
			<div class="col " >
				<button ion-button  margin round outline  color="gris" >

					<ion-icon class="boutonFooter" name="jet"></ion-icon>
				</button>
				</div>
				<div class="col" >
				<button ion-button margin float-right round outline  color="gris" color="gris">
					<ion-icon class="boutonFooter"  name="no-smoking" ></ion-icon>
				</button>
			</div>
		</div>
	</ion-toolbar>	

</ion-footer>