<ion-header>
  <ion-navbar color="jaune">
    <ion-title text-center >
      Mon app météo
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>  

<div *ngIf="meteoApi.verif===true">		
	<div class="row" *ngIf="meteoApi.city_info!==undefined">
			<div class="col" text-center> 
				<h1 *ngIf="meteoApi.city_info.name!='NA'"> {{meteoApi.city_info.name}} </h1>
				<h1 *ngIf="meteoApi.city_info.name=='NA'"> Ma position </h1>		
		 	</div>

	</div>


	<div *ngIf="meteoApi.result && meteoApi.result!==undefined">
		  	<ion-card *ngFor="let meteo  of meteoApi.forecastMeteo; let i = index " (tap)="goFucus(meteo, meteo.day_long)" >
			    <ion-card-content>
			        
				    <div class="row">
				    	<div class="col centreTitre">      
				    		{{meteo.day_long}}
				    	</div>
				    	<div class="col">   
				    		<img class="image" src={{meteo.icon}} />
				    	</div>
				    	<div class="col" text-right>
				    		<p class="smallerTxt centreTemp"> Min : {{meteo.tmin}}</p>
				    		<p class="smallerTxt centreTemp"> Max : {{meteo.tmax}}</p> 
				    	</div>
				    </div>
			  	</ion-card-content>
			</ion-card>
		
	</div>	
</div>
<div *ngIf="meteoApi.verif===false">		

	<p>La ville recherchée n'a pas été trouvée... </p>

</div>


</ion-content>

<!--
<ion-footer>


	<ion-toolbar>
		<div class="row">
			<div class="col " >
				<button ion-button  margin round outline  color="gris" >

					<ion-icon class="boutonFooter" name="jet"></ion-icon>
				</button>
				</div>
				<div class="col" >
				<button ion-button margin float-right round outline  color="gris" color="gris">
					<ion-icon class="boutonFooter"  name="no-smoking" ></ion-icon>
				</button>
			</div>
		</div>
	</ion-toolbar>	

</ion-footer> -->